<p>
  <mark><strong>Commenter:</strong></mark>
  <%= comment.commenter %>
</p>

<p>
  <mark><strong>Comment:</strong></mark>
  <%= comment.body %>
</p>

<% if can? :destroy, comment %>
  <p><%= link_to 'Usuń ten komentarz', [comment.article, comment], method: :delete, data: { confirm: 'Czy jesteś pewien?' } %></p>
<% end %>
